
// General

$margin-edges: 2em;

$kinda-black:rgb(45, 45, 45);
$kinda-white: rgb(250, 253, 253);
$kinda-white: white;
// $kinda-grey: rgb(209, 211, 212);
$kinda-grey: $kinda-white;

$outline: 1.5px solid $kinda-black;


// Grid

$margin-cell-offset: -1.5px;


// Header

$h1-height: 8em;

// Advent Calendar

$advent-calendar-width: 100%;



