@use "Variables";

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.title-container {
    width: 45%;
    flex-grow: 1;
    height: 12em;
    // margin: Variables.$margin-components;
    margin: Variables.$margin-components;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: "EB Garamond", serif;
    font-weight: 700;
    background: Variables.$kinda-white;
    outline: Variables.$outline;
    color: Variables.$kinda-black;
    flex-direction: column;
}

.title {
  margin: auto;
}

.title h1 {
  // margin: 0;
  font-size: 4em;
}

html, body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: Variables.$kinda-black;
  caret-color: transparent;
}

body {
  background: Variables.$kinda-grey;
}

#root {
  margin: 0;
  text-align: center;
  height: 100vh;  
  max-height: 100vh;
  width: 100%;
}