@use "Variables";

.right-app {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: Variables.$margin-edges;
    margin-right: Variables.$margin-edges;
  }

.code-viewer-header {
    flex-basis: 100%;
    width: 100%;
    font-size: 1.5em;
}

.code-viewer-container {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    // margin-left: 2em;
    margin-right: 2em;
}

.code-viewer {
    background: linear-gradient(135deg,#f3f6ff, #e1e7ff);
    background: Variables.$kinda-white;
    outline: Variables.$outline;
    width: 90%;
    height: 96%;
    caret-color: transparent;
    flex-shrink: 0;
  }

  code[class*="language-python"], pre[class*="language-python"] {
    font-family: 'Roboto Mono', monospace !important;
  }

