@use "Variables";


.day-cell {
    background: Variables.$kinda-beige;
    // outline: Variables.$kinda-white;

    width: 2.5em;
    height: 2.5em;
    caret-color: transparent;

}

.canOpen.day-cell:hover {
    background: rgb(145, 145, 145);
}

.day-cell-text {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5em;
    color: Variables.$kinda-red;
}

.cannotOpen .day-cell-text {
    color: rgb(145, 145, 145);
}

.canOpen.day-cell:hover .day-cell-text {
    color: Variables.$kinda-beige;
}

.day-cell.selectedDay {
    background: Variables.$kinda-red;
    .day-cell-text {
        color: Variables.$kinda-beige;
    }
}


ol,
ul,
li {
    list-style: none;
    display: inline-block;
}