@use "Variables";


.day-cell {
    background: Variables.$kinda-white;
    outline: Variables.$outline;

    width: 3em;
    height: 3em;
    // margin: Variables.$margin-cell-offset;
    caret-color: transparent;

}

.canOpen.day-cell:hover {
    background: rgb(145, 145, 145);
}

.day-cell-text {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.75em;
    color: Variables.$kinda-black;
}

.cannotOpen .day-cell-text {
    color: rgb(145, 145, 145);
}

.canOpen.day-cell:hover .day-cell-text {
    color: Variables.$kinda-white;
}

.day-cell.selectedDay {
    background: Variables.$kinda-black;
    .day-cell-text {
        color: Variables.$kinda-white;
    }
}


ol,
ul,
li {
    list-style: none;
    display: inline-block;
}