
@use "Variables";


.left-app {
    width: 55vw;
    margin-top: Variables.$margin-top-bottom-edges;
    margin-bottom: Variables.$margin-top-bottom-edges;
    margin-left: Variables.$margin-left-right-edges;
    display: flex;
    flex-shrink: 0;
    justify-items: start;
    justify-content: start;
    flex-wrap: wrap;
    align-content: start;
}

.advent-calendar {
    width: 18em;
    margin: Variables.$margin-components;
    flex-shrink: 0;
}

.copyright-container {
    width: 100%;
    text-align: left;
    margin-top: 1.5em;
    margin-left: 1.25em;
    font-size: small;
  }