@use "Variables";

.right-app {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: Variables.$margin-top-bottom-edges;
    margin-right: Variables.$margin-left-right-edges;
    flex-direction: column;
  }

  .config-bar {
    height: 3em;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: Variables.$margin-components;
    outline: Variables.$outline;
}