@use "Variables";

/* width */
::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background: Variables.$kinda-beige;
    border-radius: Variables.$border-radius;
  }

   /* Corner (Transparent!)*/
   ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0); 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: Variables.$kinda-beige; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: Variables.$kinda-red; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: Variables.$kinda-red; 
  }