@use "Variables";

/* width */
::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: Variables.$kinda-black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: Variables.$kinda-black; 
  }