
.day-cell {
    border: 2px solid turquoise;
    background-color: turquoise;
    border-radius: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
  
    opacity: .6;
    caret-color: transparent;
  }

.day-cell-text {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
}

ol, ul, li {
    list-style: none;
    display: inline-block;
}

