
.day-cell {
    background: rgb(209, 211, 212);
    border: 1.5px solid rgb(45, 45, 45);
    
    width: 80px;
    height: 80px;
    margin: -1.5px;
    caret-color: transparent;

  }

.day-cell:hover {
    background: rgb(45, 45, 45);
}

.day-cell-text {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    color: rgb(45, 45, 45);
}

.day-cell:hover .day-cell-text {
    color: rgb(240, 243, 243);
}

ol, ul, li {
    list-style: none;
    display: inline-block;
}

