
.day-cell {
    /* border: 2px solid turquoise; */
    /* background: linear-gradient(135deg,#f3f6ff, #c4cbe6); */
    background: rgb(255, 63, 98);
    border-radius: 10px;
    /* border: 1.5px solid black; */
    margin: 10px;
    width: 80px;
    height: 80px;
    
    caret-color: transparent;
    /* box-shadow: 6px 6px 0px 0px rgba(131, 218, 255, 1.0); */

  }

.day-cell-text {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
}

ol, ul, li {
    list-style: none;
    display: inline-block;
}

