
.daycell {
    border: 2px solid turquoise;
    background-color: turquoise;
    border-radius: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
  
    opacity: .6;
    caret-color: transparent;
  }

ol, ul, li {
    list-style: none;
    display: inline-block;
}

